iframe{
	width:1100px;
	height:420px;
}

.parallax {
  /* The image used */
  background-image: url("https://i.redd.it/c3uhsgo1vx541.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h3{
	text-align:left
}